In [1]:
import pandas as pd
from main.environment import Environment

# Inicializaci贸n y generaci贸n del mapa
env = Environment(num_nodes=20)
mapa = env.generate_map()

# Extracci贸n de recursos asignados a cada nodo
datos_nodos = {}
for nodo in mapa.nodes(data=True):
    datos_nodos[nodo[0]] = nodo[1]['resources']

# Creaci贸n del DataFrame
df_recursos = pd.DataFrame.from_dict(datos_nodos, orient='index')

# Muestra los primeros registros del DataFrame
df_recursos

        cost      food   science     toxic
0   0.678334  0.064793  0.210389  0.090420
1   0.383037  0.270223  0.309481  0.135625
2   0.738509  0.357813  0.987182  0.995029
3   0.349827  0.787053  0.273375  0.422502
4   0.411195  0.205709  0.802002  0.201900
5   0.903791  0.265489  0.334608  0.713301
6   0.075991  0.431648  0.283401  0.949507
7   0.164390  0.756605  0.054295  0.937363
8   0.614013  0.599574  0.060214  0.859815
9   0.892569  0.358335  0.137405  0.870618
10  0.644970  0.916899  0.056223  0.339733
11  0.829739  0.048182  0.903037  0.714890
12  0.506147  0.381776  0.970719  0.973603
13  0.219556  0.261348  0.741450  0.791958
14  0.856864  0.822790  0.554960  0.098909
15  0.385233  0.718503  0.484371  0.356451
16  0.482823  0.018112  0.005322  0.199603
17  0.379112  0.277668  0.694615  0.281558
18  0.996348  0.532074  0.685229  0.756832
19  0.623898  0.005729  0.381058  0.227555

In [24]:
# Consultando el costo de cada nodo
for nodo in mapa.nodes(data=True):
    id_nodo = nodo[0]
    costo = nodo[1]['cost']
    print(f"Costo del nodo {id_nodo}: {costo}")

Costo del nodo 0: 0.05849327358223411
Costo del nodo 1: 0.5085509983202349
Costo del nodo 2: 0.8237012389830243
Costo del nodo 3: 0.8766560269748458
Costo del nodo 4: 0.6860055703231744
Costo del nodo 5: 0.6052691353271918
Costo del nodo 6: 0.9822632931851023
Costo del nodo 7: 0.4485056443851919
Costo del nodo 8: 0.34379157333407273
Costo del nodo 9: 0.03504305453726175
Costo del nodo 10: 0.2736859875025419
Costo del nodo 11: 0.2226623437535823
Costo del nodo 12: 0.8157381613434627
Costo del nodo 13: 0.5964409141517922
Costo del nodo 14: 0.9630081900925462
Costo del nodo 15: 0.3225349317874946
Costo del nodo 16: 0.1346083410803034
Costo del nodo 17: 0.23201142979516676
Costo del nodo 18: 0.6673032170713868
Costo del nodo 19: 0.03937243367409671